@charset "UTF-8";
@import url(ionicons.min.css);
@import url(bootstrap.min.css);

@font-face {
    font-family: yekan;
    font-weight: 100;
    src: url("../fonts/eot/iranyekanweblight.eot");
    src: url("../fonts/eot/iranyekanweblight.eot#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanweblight.woff") format("woff"), url("../fonts/woff2/iranyekanweblight.woff2") format("woff2"), url("../fonts/ttf/iranyekanweblight.ttf") format("truetype"), url("../fonts/svg/iranyekanweblight.svg") format("svg");
}

@font-face {
    font-family: yekan;
    font-weight: 400;
    src: url("../fonts/eot/iranyekanwebregular.eot");
    src: url("../fonts/eot/iranyekanwebregular.eot#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebregular.woff") format("woff"), url("../fonts/woff2/iranyekanwebregular.woff2") format("woff2"), url("../fonts/ttf/iranyekanwebregular.ttf") format("truetype"), url("../fonts/svg/iranyekanwebregular.svg") format("svg");
}

@font-face {
    font-family: yekan;
    font-weight: 700;
    src: url("../fonts/eot/iranyekanwebbold.eot");
    src: url("../fonts/eot/iranyekanwebbold.eot#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebbold.woff") format("woff"), url("../fonts/woff2/iranyekanwebbold.woff2") format("woff2"), url("../fonts/ttf/iranyekanwebbold.ttf") format("truetype"), url("../fonts/svg/iranyekanwebbold.svg") format("svg");
}